---
Checks: >-
  -*,
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -bugprone-narrowing-conversions,
  -bugprone-easily-swappable-parameters,
  -performance-no-int-to-ptr
WarningsAsErrors: '*'
HeaderFilterRegex: '^(include|src|port)/'
FormatStyle: none
...

